body {
    font-family: Arial, sans-serif;
    background-image: url(temp\ background.jpg);
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    border: 1px solid rgba(255, 255, 255, 1);
}
input[type="text"] {
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}
button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
